<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>详情界面</title>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no"/>
    <link rel="stylesheet" href="/css/booking.css">
    <link rel="stylesheet" href="/css/stuck.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/jquery.js"></script>
    <script src="/js/jquery-migrate-1.1.1.js"></script>
    <script src="/js/script.js"></script>
    <script src="/js/superfish.js"></script>
    <script src="/js/jquery.equalheights.js"></script>
    <script src="/js/jquery.mobilemenu.js"></script>
    <script src="/js/jquery.easing.1.3.js"></script>
    <script src="/js/tmStickUp.js"></script>
    <script src="/js/jquery.ui.totop.js"></script>
    <script src="/js/booking.js"></script>

    <script>
        $(document).ready(function () {
            $().UItoTop({easingType: 'easeOutQuart'});
            $('#stuck_container').tmStickUp({});
        });
    </script>
    <script src="js/html5shiv.js"></script>
    <link rel="stylesheet" media="screen" href="css/ie.css">
</head>

<body>
<header>
    <section id="stuck_container">
        <div class="container">
            <div class="row">
                <div class="grid_12">
                    <h1>
                        <a th:href="'/?isAdmin='+${statu}">
                            <img src="/images/logo.png" alt="Logo alt">
                        </a>
                    </h1>
                    <div class="navigation">
                        <nav>
                            <ul class="sf-menu">
                                <li ><a th:href="'/?isAdmin='+${statu}">主页面</a></li>
                                <li><a th:href="'/food?isAdmin='+${statu}">美食</a></li>
                                <li><a th:href="'/foodblog?isAdmin='+${statu}">博客</a></li>
                                <li th:switch="${statu}">
                                    <span th:case="unlogin">用户名</span>
                                    <span th:case="admin">欢迎您管理员</span>
                                    <span th:case="user"  th:text="'欢迎您'+${session.admin.name}"></span>
                                    <span th:case="*">用户名</span>    <!--默认的 case 相当于default-->
                                </li>
                                <li th:switch="${statu}" >
                                    <a th:case="unlogin" href="/login">登录</a>
                                    <a th:case="*" href="/loginout.action">注销</a>    <!--默认的 case 相当于default-->
                                </li>
                                <li th:switch="${statu}">
                                    <a th:case="unlogin" href="/login">个人中心</a>
                                    <a th:case="admin" href="/api/sysadmin">个人中心</a>
                                    <a th:case="user" href="/api/admin">个人中心</a>
                                    <a th:case="*" href="/login">个人中心</a>    <!--默认的 case 相当于default-->
                                </li>
                            </ul>
                        </nav>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</header>
<section class="content">
    <div class="container">
        <div class="row">
            <div class="grid_8">
                <h2 th:text="${meiShi.msname}">食物名称</h2>
                <img th:src="${meiShi.mspic}" width="370px" height="267px" alt="" class="img_inner fleft inn__1" >
                <div class="extra_wrapper">
                    <div class="text1 tx__1"><a href="#">美食信息 </a></div>
                    <p th:text="${meiShi.content}"></p>
                </div>
                <div class="clear"></div>
                <h2>评论信息</h2><div class="fa fa-thumbs-up"></div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div class="fa fa-thumbs-down"></div>
                <div class="text1 tx__1"><a href="#"></a></div>
                <p></p>
                <p>Nullam consectetur orci sed nulla facilisisequat. Curabitur vel lorem sit amet nulla perermentum.
                    Aliquam nibh ante, egestas id dictum a, commodo luctus libero. </p>
                Praesent faucibus malesuada faucibus. Donec laoreet metus id laoreet malesuada. Lorem ipsum dolor sit
                amet, consectetur adipiscing elit. Nullam consectetur orci sed nulla facilisis consequat. Curabitur vel
                lorem sit amet nulla ullamcorper fermentum. In vitae varius augue, eu consectetur ligula. <br>
                <a href="#" class="btn">更多</a>
            </div>
            <div class="grid_4">
                <h2>是否优惠（<font color="#d3d3d3"><span th:text="${meiShi.isdiscount}"></span></font>）</h2>
                <div class="form_title color1">
                    <span th:text="${#dates.format(meiShi.discountstime,'yyyy年mm月dd HH:mm')}"></span> - <span th:text="${#dates.format(meiShi.discountetime,'yyyy年mm月dd HH:mm')}"></span>
                    <br>联系电话：<span th:text="${msnumber}"></span>
                </div>
                <form id="bookingForm">
                    <div class="tmInput">
                        食物名称：<span th:text="${meiShi.msname}"></span>
                    </div>
                    <div class="tmInput">
                        美食地址：<span th:text="${meiShi.msaddress}"></span>
                    </div>
                    <div class="clear f_sep1"></div>
                    开始时间:  <label  th:text="${#dates.format(meiShi.discountstime,'yyyy年mm月dd HH:mm')}">
                    </label>
                    <div class="clear"></div>
                    结束时间:  <label th:text="${#dates.format(meiShi.discountetime,'yyyy年mm月dd HH:mm')}">
                    </label>
                    <div class="clear"></div>
                    <div class="fl1 ">
                        <br>
                        就餐人群:<span th:text="${meiShi.recommendcrowd}"></span>
                        <div class="clear height1"></div>
                    </div>
                    <div class="clear"></div>
                </form>
            </div>
        </div>
    </div>
</section>
<!--==============================
              footer
=================================-->
<div th:replace="/module/footer :: footer"></div>
<script>
    $(function () {
        $('#bookingForm').bookingForm({
            ownerEmail: '#'
        });
    });
    $(function () {
        $('#bookingForm input, #bookingForm textarea').placeholder();
    });

</script>
</body>
</html>

