<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
<header>
    <section id="stuck_container">
        <div class="container">
            <div class="row">
                <div class="grid_12">
                    <h1>
                        <a href="/">
                            <img src="/images/logo.png" alt="Logo alt">
                        </a>
                    </h1>
                    <div class="navigation">
                        <nav>
                            <ul class="sf-menu">
                                <li ><a href="/">主页面</a></li>
                                <li><a href="/food">美食</a></li>
                                <li><a href="/detailfood">美食详情界面</a></li>
                                <li><a href="/foodblog">博客</a></li>
                                <li> 用户名 </li>
                                <li><a href="/login">注销</a></li>
                                <li><a href="/login">个人中心</a></li>
                            </ul>
                        </nav>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</header>
</body>
</html>