<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.sharefood.mapping.TagMapper">
    <resultMap id="BaseResultMap" type="com.example.sharefood.domain.Tag">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="tag" jdbcType="VARCHAR" property="tag"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, tag
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_tag
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from t_tag
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.example.sharefood.domain.Tag">
        insert into t_tag (id, tag)
        values (#{id,jdbcType=INTEGER}, #{tag,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.example.sharefood.domain.Tag">
        insert into t_tag
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="tag != null">
                tag,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="tag != null">
                #{tag,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.example.sharefood.domain.Tag">
        update t_tag
        <set>
            <if test="tag != null">
                tag = #{tag,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.example.sharefood.domain.Tag">
        update t_tag
        set tag = #{tag,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="findList" resultMap="BaseResultMap">
        select *
        from t_tag
        where 1 = 1
    </select>
</mapper>